<br/>
<font size='1'>
    <table class='xdebug-error xe-uncaught-exception' dir='ltr' border='1' cellspacing='0' cellpadding='1'>
        <tr>
            <th align='left' bgcolor='#f57900' colspan="5"><span
                    style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span> Fatal error:
                Uncaught InvalidArgumentException: "X-Developer:" is not valid header name in
                D:\Web2.0\OSPanel\domains\frame.serv\vendor\zendframework\zend-diactoros\src\HeaderSecurity.php on line
                <i>171</i></th>
        </tr>
        <tr>
            <th align='left' bgcolor='#f57900' colspan="5"><span
                    style='background-color: #cc0000; color: #fce94f; font-size: x-large;'>( ! )</span>
                InvalidArgumentException: "X-Developer:" is not valid header name in
                D:\Web2.0\OSPanel\domains\frame.serv\vendor\zendframework\zend-diactoros\src\HeaderSecurity.php on line
                <i>171</i></th>
        </tr>
        <tr>
            <th align='left' bgcolor='#e9b96e' colspan='5'>Call Stack</th>
        </tr>
        <tr>
            <th align='center' bgcolor='#eeeeec'>#</th>
            <th align='left' bgcolor='#eeeeec'>Time</th>
            <th align='left' bgcolor='#eeeeec'>Memory</th>
            <th align='left' bgcolor='#eeeeec'>Function</th>
            <th align='left' bgcolor='#eeeeec'>Location</th>
        </tr>
        <tr>
            <td bgcolor='#eeeeec' align='center'>1</td>
            <td bgcolor='#eeeeec' align='center'>0.0044</td>
            <td bgcolor='#eeeeec' align='right'>349432</td>
            <td bgcolor='#eeeeec'>{main}( )</td>
            <td title='D:\Web2.0\OSPanel\domains\frame.serv\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>0</td>
        </tr>
        <tr>
            <td bgcolor='#eeeeec' align='center'>2</td>
            <td bgcolor='#eeeeec' align='center'>0.0352</td>
            <td bgcolor='#eeeeec' align='right'>926584</td>
            <td bgcolor='#eeeeec'>Zend\Diactoros\Response\HtmlResponse->withHeader( )</td>
            <td title='D:\Web2.0\OSPanel\domains\frame.serv\index.php' bgcolor='#eeeeec'>...\index.php<b>:</b>25</td>
        </tr>
        <tr>
            <td bgcolor='#eeeeec' align='center'>3</td>
            <td bgcolor='#eeeeec' align='center'>0.0352</td>
            <td bgcolor='#eeeeec' align='right'>926584</td>
            <td bgcolor='#eeeeec'>Zend\Diactoros\Response\HtmlResponse->assertHeader( )</td>
            <td title='D:\Web2.0\OSPanel\domains\frame.serv\vendor\zendframework\zend-diactoros\src\MessageTrait.php'
                bgcolor='#eeeeec'>...\MessageTrait.php<b>:</b>201
            </td>
        </tr>
        <tr>
            <td bgcolor='#eeeeec' align='center'>4</td>
            <td bgcolor='#eeeeec' align='center'>0.0352</td>
            <td bgcolor='#eeeeec' align='right'>926584</td>
            <td bgcolor='#eeeeec'>Zend\Diactoros\HeaderSecurity::assertValidName( )</td>
            <td title='D:\Web2.0\OSPanel\domains\frame.serv\vendor\zendframework\zend-diactoros\src\MessageTrait.php'
                bgcolor='#eeeeec'>...\MessageTrait.php<b>:</b>404
            </td>
        </tr>
        <tr>
            <th colspan='5' align='left' bgcolor='#e9b96e'>Dump <i>$_SERVER</i></th>
        </tr>
        <tr>
            <td colspan='2' align='right' bgcolor='#eeeeec' valign='top'>
                <pre>$_SERVER['REMOTE_ADDR']&nbsp;=</pre>
            </td>
            <td colspan='3' bgcolor='#eeeeec'><pre class='xdebug-var-dump' dir='ltr'><small>string</small> <font
                    color='#cc0000'>'127.0.0.1'</font> <i>(length=9)</i>
</pre>
            </td>
        </tr>
        <tr>
            <td colspan='2' align='right' bgcolor='#eeeeec' valign='top'>
                <pre>$_SERVER['REQUEST_METHOD']&nbsp;=</pre>
            </td>
            <td colspan='3' bgcolor='#eeeeec'><pre class='xdebug-var-dump' dir='ltr'><small>string</small> <font
                    color='#cc0000'>'GET'</font> <i>(length=3)</i>
</pre>
            </td>
        </tr>
        <tr>
            <th colspan='5' align='left' bgcolor='#e9b96e'>Dump <i>$_SESSION</i></th>
        </tr>
        <tr>
            <td colspan='2' align='right' bgcolor='#eeeeec' valign='top'>
                <pre>$_SESSION['*']&nbsp;=</pre>
            </td>
            <td colspan='3' bgcolor='#eeeeec'><i>undefined</i></td>
        </tr>
        <tr>
            <th colspan='5' align='left' bgcolor='#e9b96e'>Dump <i>$_REQUEST</i></th>
        </tr>
        <tr>
            <td colspan='2' align='right' bgcolor='#eeeeec' valign='top'>
                <pre>$_REQUEST['name']&nbsp;=</pre>
            </td>
            <td colspan='3' bgcolor='#eeeeec'><pre class='xdebug-var-dump' dir='ltr'><small>string</small> <font
                    color='#cc0000'>'Залупа'</font> <i>(length=12)</i>
</pre>
            </td>
        </tr>
    </table>
</font>
